<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('/My Documents/TestNodejs/src/views/partials/head') %>
</head>

<body>
        <div class="content p-5">
            <div>
                <h2>CREATE</h2>
            </div>
            <div>
                <form method="POST" action="/blog/create">
                    <div class="mb-3">
                        <label class="form-label">Tiêu đề</label>
                        <input type="" name="title" class="form-control" required>
                    </div>
                    <div class="mb-3">
                        <label  class="form-label">Phụ đề</label>
                        <input  class="form-control" name="description" required>
                    </div>
                    <div class="mb-3">
                        <label class="form-label">Nội dung</label>
                        <textarea  class="form-control" name="content" required></textarea> 
                    </div>
                    <button type="submit" class="btn btn-primary">Đăng</button>
                    <a href="/blog" class="btn btn-secondary">Trở lại</a>
                </form>
            </div>
        </div>


        <%- include('/My Documents/TestNodejs/src/views/partials/script') %>
</body>

</html>