<nav class="container bg-black" style="height: 124.488px;font-family: Arial, Helvetica, sans-serif; font-size: 14px;">
    <div class="row h-100">
        <div class="col-md-3">
            <a class="d-block h-100" href="#"><img class="" src="https://philong.com.vn/media/banner/logo_PHILONG-LOGO-min-cn.png" alt="" style="max-width: 197px; margin:25px"></a>
          </div>
          <div class="col-md-5 d-flex align-items-center">
            <div class="input-group rounded">
                <div class="bg-white" style="height: 40px;">
                  <span class="text-dark" style="line-height: 40px; padding: 0 15px;">Tất cả các danh mục</span>
                </div>

                <div class="bg-white">
                  <input class="h-100 input-header" type="search" style="border-style: none;">
                </div>
              </div> 
          </div>
          <div class="col  text-white">
            One of three columns
          </div>
    </div>
</nav>

<style>
  .input-header:focus {
    outline: none;
  }
</style>



